{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}3S Solutions|Logout{% endblock %}
{% block content %}
<div class="login-box">
  <div class="login-logo">
    <a href="#">3s Solution|{% trans "Sign Out" %}</a>
  </div>
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button class="btn btn-primary btn-block" type="submit">{% trans 'Sign Out' %}</button>
          <a href="{% url 'facebook_auth:home' %}" class="btn btn-danger btn-block" type="button">Cancel</a>
        </form>
    </div>
  </div>
</div>

{% endblock %}
