{% load static %} 
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

<div class="jumbotron" style="background:white;">
  <div class="panel-body"><h2> Vos pages :</h2>

  <div class="list-group">
    {% for name, id in namesAndIDs %}
         <a href="/prepareReport?pageId={{id}}"  class="list-group-item list-group-item-action links"> {{ name }}</a>
    {% endfor %}
  </div>
  <h2> Vos Ad Accounts :</h2>
  <div class="list-group">
    {% for name, id in namesAndAccIds %}
         <a href="/prepareReport?adActId={{id}}"  class="list-group-item list-group-item-action links"> {{ name }}</a>
    {% endfor %}

  </div></div>
</div>
