{% extends "base.html" %}
{% load tag_library %}
{% block content %}
{% include "navbar.html" %}
{% include "sidebar.html" %}
<div class="wrapper">
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="card">
                  <div class="card-header bg-info">
                    <h3 class="card-title">
                      Export Data to file
                    </h3>
                   
                  </div><!-- /.card-header -->
                  <div class="card-body">
                    <div class="form-group">
                        <div class="row">
                        <h6 class="login-box-msg">Choose witch model you want to export</h6>
                          <div class="col-12">
                            <form action="{% url 'facebook_auth:export' %}"  method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Model</label>
                                    <select autofocus="autofocus" type="text" class="form-control" name="model" id="mySelect" required="">
                                        <option disabled selected value> -- select an option -- </option>
                                        <option>Campaigns</option>
                                        <option>Pages</option>
                                        <option>Ad_accounts</option>
                                        <option>Users</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="">
                                        <button type="submit" class="btn btn-primary btn-block" >Export As File</button>
                                    </div>
                                </div> 
                            <form>    
                          </div>
                        </div>
                    </div>
                  </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</div>

{% block javascript %}
    
{% endblock javascript %}



{% endblock content %}