<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">posts insights of {{page_objects.name}} page</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>Post message</th>
            <th>created_time</th>
            <th>is_hidden</th>
            <th>is_popular</th>
            <th>shares</th>
            <th>details</th>
          </tr>
          </thead>
          <tbody>
          {% for post in page_objects.posts.all %}
          <tr>
              <td>{{post.message}}</td>
              <td>{{post.created_time}}</td>
              <td>{{post.is_hidden}}</td>
              <td>{{post.is_popular}}</td>
              <td>{{post.shares}}</td>      
              <td><a href="{{post.link}}" target="_blank">detail</a></td>
          </tr>
          {% endfor %}
          </tbody>
          <tfoot>
          <tr>
            <th>Post message</th>
            <th>created_time</th>
            <th>is_hidden</th>
            <th>is_popular</th>
            <th>shares</th>
            <th>details</th>
          </tr>
          </tfoot>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div>